.slide{

    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: hidden;
    background-color: #ffffff;
    margin: 50px ;
    border-radius: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid black;

    
    
   
}
.slide>img{
    width: 150px;
    margin: 30px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
    
   
}
